@import "tailwindcss";

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.background {
    background: url("../assets/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow-box {
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}