@import "tailwindcss";

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 30px;
}

.background {
    background: url("../assets/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow-box {
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.knowledge_shawow {
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.knowledge_background {
    background: url("../assets/knowledge_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.news_shadow {
    box-shadow: 0 16px 52px 0 rgba(0, 0, 0, 0.07);
}

.world_image {
    background: url("../assets/world.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 50;
}

.vision_bg {
    background: url("../assets/vision_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer_bg {
    background: url("../assets/footer_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_banner {
    background: url("../assets/about_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@theme {
    --color-primary: #192335;
    --color-secondary: #2F57EF;
    --tracking-common: -0.3px;


    /* animation */
    --animate-left-to-right: left-to-right 1s ease-in-out infinite alternate;

    @keyframes left-to-right {
        0% {
            margin-right: 10px;
        }

        100% {
            margin-right: 0px;
        }
    }

    --animate-top-to-bottom : top-to-bottom 1s ease-in-out infinite alternate;

    @keyframes top-to-bottom {
        0% {
            bottom: 20px;
        }

        100% {
            bottom: 0;
        }
    }
}